<section data-ng-controller="WigsController">
    <div class="page-header">
        <h1>New Wig</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
					<!-- desc:{{description}} -->
				</div>
				    <div 
				    type="file" 
				    data-ng-model="files"
				    ngf-multiple="false"
				    class="button"
				    ngf-select
				    >
				    	Select File
				    </div>
				    <!--
				    file:{{file}}
				     -->
				    <img ngf-src="files[0]" ngf-accept="'image/*'" width="200" height="200">
				   
				<!--  
                <label class="control-label" for="name">Image</label>
                <div class="controls">
                    <input type="file"  data-ng-model="image" id="image" required>
                     {{selectedFile.name}}
                </div>
                -->
				<!--
				<div flow-init="{target: '/upload'}"
   					 flow-files-submitted="$flow.upload()"
    				 flow-file-success="$file.msg = $message">

  					<input type="file" data-ng-model="picture" flow-btn/>
  					Input OR Other element as upload button
				  <span class="btn" flow-btn>Upload File</span>
				
				  <table>
				    <tr ng-repeat="file in $flow.files">
				        <td>{{$index+1}}</td>
				        <td>{{file.name}}</td>
				        <td>{{file.msg}}</td>
				    </tr>
				  </table>
				  
				</div>
				-->
				<!--
				<div class="alert" flow-drop>
    				Drag And Drop your file here
				</div>
				-->
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>