<section data-ng-controller="WigsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Wig</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="wig.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" data-ng-model="wig.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description" required></textarea>
					</div>
					
				    
				    <div
				    type="file" 
				    data-ng-model="files"
				    ngf-multiple="false"
				    class="button"
				    ngf-select
				    >
				    	replace image
				    </div>
					
					<img src="image/{{wig.image}}" id="photo-id" width="200" height="200"/>
					<img ngf-src="files[0]" ngf-accept="'image/*'" width="200" height="200">
					
					<!--
					<div ng-show="submitted && wig.description.$invalid" class="help-block">
						<p ng-show="articleForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
					-->
				</div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>