<section data-ng-controller="WigsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Wigs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="wig in wigs" data-ng-href="#!/wigs/{{wig._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="wig.created | date:'medium'"></span>
				by
				<span data-ng-bind="wig.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="wig.name"></h4>
			<p class="list-group-item-text" data-ng-bind="wig.description"></p>
			<img src="image/{{wig.image}}" id="photo-id" width="100" height="100"/>
        </a>
        
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!wigs.$resolved || wigs.length">
    	No Wigs yet, why don't you <a href="/#!/wigs/create">create one</a>?
    </div>
</section>