<section data-ng-controller="WigsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="wig.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == wig.user._id))">
		<a class="btn btn-primary" href="/#!/wigs/{{wig._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="wig.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="wig.user.displayName"></span>
		</em>
	</small>

	<img src="image/{{wig.image}}" id="photo-id" width="200" height="200"/>
	<p class="lead" data-ng-bind="wig.description"></p>
</section>
